.about-container
    background-color: white

.about-first
    width: 90%
    margin: 100px auto 20px auto
    border-bottom: 1px solid rgb(200,200,200)
    text-align: center
.about-first p
    width: 80%
    margin: 0 auto 20px auto
    text-align: center
    font-size: 2.5rem
    border-bottom: 1px solid hsla(319.375, 41.03%, 45.88%, 1.00)
    font-weight: 400
    line-height: 50px;


