.our-news
    text-align: center
    padding: 8vh 0

    &__headline
        font-size: 3rem

        &-link
            color: #000000
            &:hover
                color: #3B3B3B

.news
    width: 90%
    height: auto
    margin: 0 5%
    display: flex
    justify-content: space-between
    align-items: center
    border-top: 2px solid #79CED4
    margin-top: 2vh
    padding-top: 5vh
    flex-wrap: wrap
    align-items: flex-start

    &__block
        text-align: left
        height: auto
        &:first-child
            .news__block-image
                background-image: url('../images/team.jpg')
        &:nth-child(2n)
            .news__block-image
                background-image: url('../images/programmer.jpeg')
        &:last-child
            .news__block-image
                background-image: url('../images/ekbcup.jpg')

        &-image
            width: 100%
            background-position: center center
            background-repeat: no-repeat
            background-size: cover

        &-content
            h3
                font-size: 1.8rem
                margin-bottom: 2vh
                margin-top: 1vh

                a
                    color: black
                    &:hover
                        color: #2F2F2F
            p
                margin-top: 1.5vh
                font-size: 1.3rem
                color: #A4A4A4
                font-family: 'Noto Serif TC', serif, Arial, Helvetica, sans-serif
                heihgt: auto
                white-space: nowrap
                overflow: hidden
                padding: 5px
                text-overflow: ellipsis;
        
        &-date
            color: #A4A4A4
            font-family: 'Noto Serif TC', serif, Arial, Helvetica, sans-serif

        &-link
            color: #000000
            font-family: 'Noto Serif TC', serif, Arial, Helvetica, sans-serif
            font-size: 1.3rem
            &:hover
                color: #2F2F2F

@media (min-width: 1200px)
    .news__block
        width: 30%

@media (max-width: 1200px)
    .news__block
        width: 100%
        margin-bottom: 10vh
        &:last-child
            margin-bottom: 0

        &-content
            h3
                font-size: 1.5rem

        &-image
            height: 18rem

@media (max-width: 550px)
    .news__block
        &-image
            height: 12rem

