/*Общие правила*/
*
    box-sizing: border-box

    @import url('https://fonts.googleapis.com/css?family=Montserrat');

h1,h2,h3,h4,h5,p,img
    margin: 0
    padding: 0

body
    margin: 0
    padding: 0
    width: 100%

.button
    width: 18em
    padding: 1.5em 0
    text-align: center
    background-color: transparent
    border: none
    cursor: pointer

@media (max-width: 720px)
    .button
        width: 70%

/*Блок top*/
@import 'blocks/top/top'

/*Блок about-us*/
@import 'blocks/about-us/about_us'

/*Блок director-word*/

/*Блок news*/
@import 'blocks/news/news'

/*Блок footer*/
@import 'blocks/footer/footer'