/*Общие правила*/
*
    box-sizing: border-box

@media (min-width: 700px)  
    html
	    font-size: 16px

   
@media (max-width: 700px) 
	html
		font-size: 14px
	



h1,h2,h3,h4,h5,p,img
    margin: 0
    padding: 0

h1,h2,h3,h4,h5,p,ul,a,button
    font-family: 'Montserrat'
    outline: none

body
    margin: 0
    padding: 0
    width: 100%
    overflow-x: hidden

.button
    width: 18em
    padding: 1.5em 0
    text-align: center
    background-color: transparent
    border: none
    cursor: pointer


.btn-top
    display: none
    position: fixed
    bottom: 4rem
    right: 3rem
    z-index: 20
    border: none
    outline: none
    background-color: black
    color: white
    padding: 0.8rem 1rem
    border-radius: 8px
    cursor: pointer
    box-shadow: 0 0 5px  grey
    // transition: all 0.4s ease-in-out
    
    &:hover
        background-color: grey

@media (max-width: 900px)
    .btn-top
        bottom: 2rem
        right: 2rem
        padding: 0.4rem 0.5rem




@media (max-width: 720px)
    .button
        width: 70%

@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import url('https://fonts.googleapis.com/css?family=Open+Sans')

    
/*Блок top*/
@import 'blocks/top/top'

/*Блок about-us*/
@import 'blocks/about-us/about_us'

/*Блок director-word*/
@import 'blocks/director-word/director-word'

/*Блок news*/
@import 'blocks/our-news/our-news'

/* Блок map*/
@import 'blocks/map/map'

/*Блок footer*/
@import 'blocks/footer/footer'

/*Блок cookie*/
@import 'blocks/cookie/cookie'

