/*Общие правила*/
*
    box-sizing: border-box

@media (min-width: 700px)  
    html
	    font-size: 16px

   
@media (max-width: 700px) 
	html
		font-size: 14px
	



h1,h2,h3,h4,h5,p,img
    margin: 0
    padding: 0

h1,h2,h3,h4,h5,p,ul,a,button
    font-family: 'Montserrat'
    outline: none

body
    margin: 0
    padding: 0
    width: 100%
    overflow-x: hidden

.button
    width: 18em
    padding: 1.5em 0
    text-align: center
    background-color: transparent
    border: none
    cursor: pointer

@media (max-width: 720px)
    .button
        width: 70%

@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import url('https://fonts.googleapis.com/css?family=Open+Sans')

    
/*Блок top*/
@import 'blocks/top/top'

/*Блок about-us*/
@import 'blocks/about-us/about_us'

/*Блок director-word*/
@import 'blocks/director-word/director-word'

/*Блок news*/
@import 'blocks/our-news/our-news'

/* Блок map*/
@import 'blocks/map/map'

/*Блок footer*/
@import 'blocks/footer/footer'

/*Блок cookie*/
@import 'blocks/cookie/cookie'

