.about-container
    background-color: white
    padding: 7vh 0

.about-first
    width: 90%
    margin: 0 auto 20px auto
    border-bottom: 2px solid #79CED4
    text-align: center

// .about-first p
//     width: 80%
//     margin: 0 auto 20px auto
//     text-align: center
//     font-size: 2.5rem
//     border-bottom: 1px solid hsla(319.375, 41.03%, 45.88%, 1.00)
//     font-weight: 400
//     line-height: 50px
//     font-family: 'Open-Sans', serif, Arial, Helvetica, sans-serif
//     color: #4a4a4a

.about-first h3
     font-size: 3rem
     margin: 0 0 4vh 0
     padding: 0

.flex-things
    display: flex
    justify-content: space-around
    flex-wrap: wrap 

.flex-things p
    font-size: 1.5rem
    // text-decoration: underline 
    font-family: 'Open Sans'
    color: #4a4a4a

.thing 
    text-align: center
    width: 30% 
    margin-top: 2rem
    
    img
        width: 8rem

@media (min-width: 550px) and (max-width: 900px)
    .thing 
        width: 45% 

@media (max-width: 550px)
    .thing 
        width: 100% 


