.footer
    width: 100%
    padding: 1vh 5vw
    background-color: #000000
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    
    .info
        color: white
        // font-family: 'Montserrat'
        // font-family: 'Noto Serif TC', serif, Arial, Helvetica, sans-serif

        &__point
            list-style: none
            font-size: 1.2rem
            margin-top: 0.5rem

            a
                color: white

@media (max-width: 950px)
    .footer
        justify-content: center;