@charset "UTF-8";
/*Общие правила*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 700px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, p, img {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p, ul, a, button {
  font-family: 'Montserrat';
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.button {
  width: 18em;
  padding: 1.5em 0;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 720px) {
  .button {
    width: 70%;
  }
}

/*Блок top*/
.top {
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: scroll;
}

.top .header {
  width: 100%;
  padding: 0.8rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 3px solid #79CED4;
  background: #ffffff;
  position: absolute;
  top: 2rem;
  left: 0;
  z-index: 10;
}

.top .header__logo {
  width: auto;
  height: 3rem;
}

.top .burger {
  width: 2.5em;
  height: auto;
  cursor: pointer;
}

.top .burger__line {
  display: block;
  width: 100%;
  height: 0.2em;
  margin-top: 0.5em;
  background-color: #000000;
}

.top .burger__line:first-child {
  margin: 0;
}

.top .navbar__point {
  display: inline-block;
  width: 10em;
  height: 50%;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.top .navbar__point:hover {
  border-bottom: 1px solid #B86093;
}

.top .navbar__link {
  display: block;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  font-family: 'Arimo', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (min-width: 1050px) {
  .top .navbar {
    width: 30em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .top .navbar--mobile {
    display: none;
  }
  .top .burger {
    display: none;
  }
}

.top .content {
  text-align: center;
  padding: 2rem 10%;
  border: 2px solid #79CED4;
}

.top .content__headline {
  color: #ffffff;
  margin-bottom: 10vh;
}

.top .content__button {
  background-color: #A54586;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Open Sans';
}

.fixed-background {
  position: fixed;
  top: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(0, 0, 0, 0.25)), to(transparent)), url("../images/city.jpg") no-repeat center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 100%, transparent), url("../images/city.jpg") no-repeat center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.pre-header {
  position: absolute;
  width: 100%;
  height: 2rem;
  background-color: #e4e4e4;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 2px;
          box-shadow: 0 0 2px;
  z-index: 11;
}

.pre-header__info {
  text-align: right;
}

.pre-header__info a {
  margin-right: 2rem;
}

@media (min-width: 1050px) {
  .content {
    width: 60%;
  }
  .content__headline {
    font-size: 4rem;
  }
}

@media (max-width: 1050px) {
  .content {
    width: 90%;
    padding: 0;
  }
  .content__headline {
    font-size: 3rem;
  }
}

@media (max-width: 390px) {
  .content__headline {
    font-size: 2.3rem;
  }
}

@media (max-width: 1050px) {
  .navbar--desktop {
    display: none;
  }
  .navbar--mobile {
    display: block;
    position: absolute;
    background: #ffffff;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    background-color: #ffffff;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    padding-left: 0;
    margin: 0;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  .navbar--mobile .navbar__point {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #79CED4;
    padding: 2em 0;
    text-align: left;
  }
  .navbar__link {
    color: white;
  }
  .burger {
    display: block;
  }
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(113, 113, 113, 0.7);
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.popup-card {
  height: auto;
  position: relative;
  margin: 15vh auto;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 1.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.popup-succes {
  padding: 1rem 1rem;
  margin: 30vh auto;
  display: none;
}

.popup-succes__headline {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

.popup-succes__text {
  border-bottom: 1px solid #AD4582;
  font-size: 1.2rem;
  width: 60%;
  margin: 0 20%;
}

.card__headline {
  font-size: 2.5rem;
  padding: 1rem;
  color: #000000;
}

.card__text {
  font-size: 1.5rem;
  color: #000000;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input {
  margin-top: 2vh;
  width: 70%;
  padding: 1em 0.5em;
  border: transparent;
  border-bottom: 1px solid #AD4582;
  font-size: 1rem;
}

.form__input:first-child {
  margin-top: 0;
}

.form__button {
  background-color: #86E3EA;
  border-radius: 10px;
  font-family: 'Arimo', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  height: 3rem;
  width: 15rem;
  margin-top: 1rem;
  padding: 0;
}

.form__button:hover {
  background-color: #6FBCC1;
}

.form__checkbox {
  margin-top: 2em;
  color: #000000;
  display: inline-block;
}

.button__close {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  font-family: 'Arimo', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 0;
  right: 0;
}

.button__close:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.button__close--line {
  display: block;
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #000000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button__close--line:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 1040px) {
  .popup-card {
    width: 30%;
  }
}

@media (max-width: 1040px) {
  .popup-card {
    width: 80%;
  }
}

@media (max-width: 320px) {
  .popup-card {
    margin: 5vh 10%;
  }
  .popup-succes {
    margin: 30vh auto;
  }
}

.loaderArea {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ffe7e8), color-stop(90%, #fff9da));
  background: linear-gradient(to bottom, #ffe7e8 10%, #fff9da 90%);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
}

.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: spin 2s ease infinite;
          animation: spin 2s ease infinite;
}

.load :first-child {
  background: #19A68C;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.load :nth-child(2) {
  background: #F63D3A;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.load :nth-child(3) {
  background: #FDA543;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.load :last-child {
  background: #193B48;
}

@-webkit-keyframes spin {
  0%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(160%);
            transform: translate(160%);
  }
  50% {
    -webkit-transform: translate(160%, 160%);
            transform: translate(160%, 160%);
  }
  75% {
    -webkit-transform: translate(0, 160%);
            transform: translate(0, 160%);
  }
}

@keyframes spin {
  0%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(160%);
            transform: translate(160%);
  }
  50% {
    -webkit-transform: translate(160%, 160%);
            transform: translate(160%, 160%);
  }
  75% {
    -webkit-transform: translate(0, 160%);
            transform: translate(0, 160%);
  }
}

/*Блок about-us*/
.about-container {
  background-color: white;
  padding: 7vh 0;
}

.about-first {
  width: 90%;
  margin: 0 auto 20px auto;
  border-bottom: 2px solid #79CED4;
  text-align: center;
}

.about-first h3 {
  font-size: 3rem;
  margin: 0 0 4vh 0;
  padding: 0;
}

.flex-things {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-things p {
  font-size: 1.5rem;
  font-family: 'Open Sans';
  color: #4a4a4a;
}

.thing {
  text-align: center;
  width: 30%;
  margin-top: 2rem;
}

.thing img {
  width: 8rem;
}

@media (min-width: 550px) and (max-width: 900px) {
  .thing {
    width: 45%;
  }
}

@media (max-width: 550px) {
  .thing {
    width: 100%;
  }
}

/*Блок director-word*/
.director-word h3 {
  font-size: 3rem;
  text-align: center;
  margin: 0 auto 2rem auto;
}

.director-word {
  margin: auto;
  width: 90%;
  padding: 3rem 0;
}

.director-word h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.head {
  margin: 0 auto 2rem auto;
  border-bottom: 2px solid #79CED4;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.first-part, .second-part {
  width: 40%;
  font-size: 1.4rem;
}

@media (max-width: 900px) {
  .first-part, .second-part {
    width: 100%;
    padding: 0 7%;
  }
  .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.director {
  margin-top: 2rem;
  font-size: 1rem;
}

.director__container {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}

.director p {
  color: grey;
}

.director img {
  display: inline-block;
  width: 4rem;
  vertical-align: middle;
}

/*Блок news*/
.our-news {
  text-align: center;
  padding: 8vh 0;
}

.our-news__headline {
  font-size: 3rem;
}

.our-news__headline-link {
  color: #000000;
}

.our-news__headline-link:hover {
  color: #3B3B3B;
}

.news {
  width: 90%;
  height: auto;
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #79CED4;
  margin-top: 2vh;
  padding-top: 5vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news__block {
  text-align: left;
  height: auto;
}

.news__block:first-child .news__block-image {
  background-image: url("../images/team.jpg");
}

.news__block:nth-child(2n) .news__block-image {
  background-image: url("../images/programmer.jpeg");
}

.news__block:last-child .news__block-image {
  background-image: url("../images/ekbcup.jpg");
}

.news__block-image {
  width: 100%;
  height: 18rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news__block-content h3 {
  font-size: 1.8rem;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.news__block-content h3 a {
  color: black;
}

.news__block-content h3 a:hover {
  color: #2F2F2F;
}

.news__block-content p {
  margin-top: 1.5vh;
  font-size: 1.3rem;
  color: #A4A4A4;
  font-family: 'Open Sans';
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
}

.news__block-date {
  color: #A4A4A4;
  font-family: 'Noto Serif TC', serif, Arial, Helvetica, sans-serif;
}

.news__block-link {
  color: #000000;
  font-family: 'Noto Serif TC', serif, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.news__block-link:hover {
  color: #2F2F2F;
}

@media (min-width: 1200px) {
  .news__block {
    width: 30%;
  }
}

@media (max-width: 1200px) {
  .news__block {
    width: 100%;
    margin-bottom: 10vh;
  }
  .news__block:last-child {
    margin-bottom: 0;
  }
  .news__block-content h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .news__block-image {
    height: 12rem;
  }
}

/* Блок map*/
.map {
  text-align: center;
  margin-bottom: 2rem;
}

iframe {
  border-top: #a54586 solid 3px;
  border-right: #a54586 solid 3px;
  border-bottom: #55979c solid 3px;
  border-left: #55979c solid 3px;
  height: 30rem;
  width: 96%;
  margin: 0 2%;
}

@media (max-width: 700px) {
  iframe {
    height: 20rem;
  }
}

/*Блок footer*/
.footer {
  width: 100%;
  padding: 1vh 5vw;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .info {
  color: white;
}

.footer .info__point {
  list-style: none;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.footer .info__point a {
  color: white;
}

.footer__logo {
  width: 20rem;
  height: auto;
}

.footer__something {
  text-align: center;
}

.footer__something-metric {
  margin-top: 10px;
}

@media (max-width: 950px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*Блок cookie*/
.cookie {
  width: 100vw;
  padding: 0.5rem 2vw;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookie__text {
  color: white;
}

.cookie__button {
  color: white;
  height: 3rem;
  width: 10%;
  padding: 0;
  outline: none;
}
/*# sourceMappingURL=style.css.map */