@charset "UTF-8";
/*Общие правила*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  width: 100%;
=======
  font-family: Montserrat, sans-serif;
>>>>>>> f8a37207a18565a72a817ac7e092fc9ade3eee56
}

.button {
  width: 18em;
  padding: 1.5em 0;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*Блок top*/
.top {
  background: url("../images/city.jpg") no-repeat center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .header {
  width: 100%;
  height: 10vh;
  padding: 2vh 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 3px solid #79CED4;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.top .header__logo {
  width: auto;
  height: 90%;
}

.top .burger {
  width: 2.5em;
  height: auto;
  cursor: pointer;
}

.top .burger__line {
  display: block;
  width: 100%;
  height: 0.2em;
  margin-top: 0.5em;
  background-color: #000000;
}

.top .burger__line:first-child {
  margin: 0;
}

.top .navbar__point {
  display: inline-block;
  width: 10em;
  height: 50%;
  text-transform: uppercase;
}

.top .navbar__point:hover {
  border-bottom: 3px solid #B86093;
}

.top .navbar__link {
  display: block;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 1050px) {
  .top .navbar {
    width: 30em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top .navbar--mobile {
    display: none;
  }
  .top .burger {
    display: none;
  }
}

.top .content {
  text-align: center;
  padding: 2rem 10%;
  border: 2px solid #68E3E1;
}

.top .content__headline {
  color: white;
  margin-bottom: 10vh;
}

.top .content__button {
  background-color: #A54586;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

<<<<<<< HEAD
@media (min-width: 1050px) {
  .content {
    width: 60%;
  }
  .content__headline {
    font-size: 4rem;
  }
}

@media (max-width: 1050px) {
  .content {
    width: 90%;
    padding: 0;
  }
  .content__headline {
    font-size: 3rem;
  }
}

@media (max-width: 1050px) {
  .navbar--desktop {
    display: none;
  }
  .navbar--mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    background-color: #ffffff;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .navbar--mobile-open {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
  .navbar--mobile-close {
    -webkit-transform: translateY(-50vh);
            transform: translateY(-50vh);
  }
  .navbar--mobile .navbar__point {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #79CED4;
    padding: 2em 0;
    text-align: left;
  }
  .burger {
    display: block;
  }
=======
.about-container {
  background-color: white;
}

.about-first {
  width: 90%;
  margin: 100px auto 20px auto;
  border-bottom: 1px solid #c8c8c8;
  text-align: center;
}

.about-first p {
  width: 80%;
  margin: 0 auto 20px auto;
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 1px solid #a54586;
  font-weight: 400;
  line-height: 50px;
>>>>>>> f8a37207a18565a72a817ac7e092fc9ade3eee56
}
/*# sourceMappingURL=style.css.map */