h3
    font-size: 3rem
    text-align: center
    margin: 3rem auto 2rem auto

.director-word
    margin: auto
    width: 90%
    margin-top: 8vh

    h2
        margin-bottom: 2rem
        text-align: center

.head 
    margin: 0 auto 2rem auto
    border-bottom: 2px solid #79CED4

.text
    display: flex
    justify-content: space-around

.first-part,.second-part
    width: 40%

@media (max-width: 900px)
    .first-part,.second-part
        width: 70%
        margin: auto
    .text        
        flex-direction: column

.director
    margin-top: 2rem

    &__container
        width: 70%;
        display: inline-block

    p 
        color: grey

    img
        display: inline-block
        width: 4rem
