.top
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 100%, transparent), url('../images/city.jpg') no-repeat center 
    background-size: cover
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background-attachment: fixed
    


    .header
        width: 100%
        padding: 0.8rem 2rem
        align-items: center
        justify-content: space-between
        display: flex
        border-bottom: 3px solid #79CED4
        background: #ffffff
        position: absolute
        top: 0
        left: 0
        z-index: 10

        &__logo
            width: auto
            height: 3rem 

        &__info
            a
                display: none //LOOK

            &-mail
                margin-top: 5px


    .burger
        width: 2.5em
        height: auto
        cursor: pointer

        &__line
            display: block
            width: 100%
            height: 0.2em
            margin-top: 0.5em
            background-color: #000000

            &:first-child
                margin: 0
    .navbar
        &__point
                display: inline-block
                width: 10em
                height: 50%
                text-transform: uppercase
                transition: all 0.5s ease-in-out
                &:hover
                    border-bottom: 1px solid #B86093
                    

        &__link
            display: block
            height: 100%
            width: 100%
            color: black
            text-decoration: none
            font-size: 1rem
            text-align: center
            vertical-align: middle
            font-family: 'Arimo', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    @media (min-width: 1050px)
        .navbar
            width: 30em
            height: 100%
            display: flex
            justify-content: space-between
            align-items: center
            padding: 0

            &--mobile
                display: none

        .burger
            display: none
            
    .content
        text-align: center
        padding: 2rem 10%
        border: 2px solid #79CED4

        &__headline
            color: #ffffff   
            margin-bottom: 10vh

        &__button
            background-color: #A54586
            color: white
            font-size: 1rem
            text-transform: uppercase

@media (min-width: 1050px)
    .content
        width: 60%

        &__headline
            font-size: 4rem

@media (max-width: 1050px)
    .content
        width: 90%
        padding: 0

        &__headline
            font-size: 3rem

@media (max-width: 390px)
    .content__headline
        font-size: 2.3rem
    
@media (max-width: 1050px) 
    .navbar
        &--desktop
            display: none
        &--mobile
            display: block
            position: absolute
            background: #ffffff
            top: 0
            left: 0
            width: 100vw
            height: auto
            background-color: #ffffff
            transition-duration: 1s 
            padding-left: 0
            margin: 0
            &-open
                transform: translateY(-100vh)

            &-close
                transform: translateY(10vh)

            .navbar__point
                display: block
                width: 100%
                height: auto
                border-bottom: 1px solid #79CED4
                padding: 2em 0
                text-align: left

        &__link
            color: white

    .burger
        display: block

.popup
    width: 100%
    height: 100%
    position: fixed
    background-color: rgba(113,113,113, 0.7)
    z-index: 100
    display: none
    top: 0
    left: 0

    &-card
        height: auto
        margin: 15vh auto
        background-color: #ffffff
        border-radius: 10px
        text-align: center
        padding-bottom: 1.5rem
        transition: all 0.5s ease-in-out

.card__headline
    font-size: 2.5rem
    padding: 1rem
    color: #000000

.card__text
    font-size: 1.5rem
    color: #000000

.form
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

    &__input
        margin-top: 2vh
        width: 70%
        padding: 1em 0.5em
        border: transparent
        border-bottom: 1px solid #AD4582
        font-size: 1rem
        &:first-child
            margin-top: 0

    &__button
        background-color: #86E3EA
        border-radius: 10px
        font-family: 'Arimo', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        font-size: 1rem
        height: 3rem
        width: 15rem
        margin-top: 1rem
        padding: 0
        &:hover
            background-color: #6FBCC1

    &__checkbox
        margin-top: 2em
        color: #000000
        display: inline-block

.button__close
    background-color: rgba(0, 0, 0, 0.1)
    position: relative
    font-family: 'Arimo', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    height: 35px
    width: 35px
    display: flex
    justify-content: center
    align-items: center
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    left: 


    &:hover 
        background-color: rgba(0, 0, 0, 0.3)
    &--line
        display: block
        position: absolute
        // width: 70%
        width: 30px
        height: 1px
        background-color: #000000
        transform: rotate(45deg)
        &:last-child
            transform: rotate(-45deg)
@media (min-width: 1040px)
    .popup-card
        width: 30%

@media (max-width: 1040px)
    .popup-card
        width: 80%

@media (max-width: 320px)
    // .card__headline
    //     font-size: 1.5rem
    //     margin-top: 3rem
    //     color: black
    // .card__text
    //     font-size: 1rem
    //     color: black
    .popup-card
        margin: 5vh 10%


            