.top
    background: url('../images/city.jpg') no-repeat center
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background-attachment: fixed
    


    .header
        width: 100%
        height: 10vh
        padding: 2vh 2rem
        align-items: center
        justify-content: space-between
        display: flex
        border-bottom: 3px solid #79CED4
        background: #ffffff
        position: absolute
        top: 0
        left: 0
        z-index: 10
        &__logo
            width: auto
            height: 90%
    .burger
        width: 2.5em
        height: auto
        cursor: pointer

        &__line
            display: block
            width: 100%
            height: 0.2em
            margin-top: 0.5em
            background-color: #000000

            &:first-child
                margin: 0
    .navbar
        &__point
                display: inline-block
                width: 10em
                height: 50%
                text-transform: uppercase
                &:hover
                    border-bottom: 3px solid #B86093

        &__link
            display: block
            height: 100%
            width: 100%
            color: black
            text-decoration: none
            font-size: 1rem
            text-align: center
            vertical-align: middle
            font-family: 'Arimo', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    @media (min-width: 1050px)
        .navbar
            width: 30em
            height: 100%
            display: flex
            justify-content: space-between
            align-items: center

            &--mobile
                display: none

        .burger
            display: none
            
    .content
        text-align: center
        padding: 2rem 10%
        border: 2px solid #68E3E1

        &__headline
            color: white   
            margin-bottom: 10vh

        &__button
            background-color: #A54586
            color: white
            font-size: 1rem
            text-transform: uppercase

@media (min-width: 1050px)
    .content
        width: 60%

        &__headline
            font-size: 4rem

@media (max-width: 1050px)
    .content
        width: 90%
        padding: 0

        &__headline
            font-size: 3rem

@media (max-width: 390px)
    .content__headline
        font-size: 2.5rem
    
@media (max-width: 1050px) 
    .navbar
        &--desktop
            display: none
        &--mobile
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100vw
            height: auto
            background-color: #ffffff
            transition-duration: 1s 
            padding:0
  
            &-open
                transform: translateY(7vh)

            &-close
                transform: translateY(-50vh)

            .navbar__point
                display: block
                width: 100%
                height: auto
                border-bottom: 1px solid #79CED4
                padding: 2em 0
                text-align: left

    .burger
        display: block

.popup
    width: 100%
    height: 100%
    position: absolute
    background-color: rgba(113,113,113, 0.7)
    z-index: 100

    .card
        width: 30%
        height: 70vh
        margin: 15vh 35%
        position: absolute
        background-color: #AD4582
        border-radius: 10px
        text-align: center

        &__headline
            font-size: 2.5rem
            margin-top: 10%

        &__text
            font-size: 1.5rem
        
        .form
            width: 80%
            height: auto
            margin: 5% 10% 0
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-start

            