.top
    // background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 100%, transparent), url('../images/city.jpg') no-repeat center 
    background-size: cover
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background-attachment: scroll

    .header
        width: 100%
        padding: 0.8rem 2rem
        align-items: center
        justify-content: space-between
        display: flex
        border-bottom: 3px solid #79CED4
        background: #ffffff
        position: absolute
        top: 2rem // смотри pre-header, он ниже
        left: 0
        z-index: 10
        // box-shadow: 0 0 5px

        &__logo
            width: auto
            height: 3rem 



    .burger
        width: 2.5em
        height: auto
        cursor: pointer

        &__line
            display: block
            width: 100%
            height: 0.2em
            margin-top: 0.5em
            background-color: #000000

            &:first-child
                margin: 0
    .navbar
        &__point
                display: inline-block
                width: 10em
                height: 50%
                text-transform: uppercase
                transition: all 0.5s ease-in-out
                &:hover
                    border-bottom: 1px solid #B86093
                    

        &__link
            display: block
            height: 100%
            width: 100%
            color: black
            text-decoration: none
            font-size: 1rem
            text-align: center
            font-family: 'Arimo', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

    @media (min-width: 1050px)
        .navbar
            width: 30em
            height: 100%
            display: flex
            justify-content: space-between
            align-items: center
            padding: 0

            &--mobile
                display: none

        .burger
            display: none
            
    .content
        text-align: center
        padding: 2rem 10%
        border: 2px solid #79CED4

        &__headline
            color: #ffffff   
            margin-bottom: 10vh
            font-family: 'Comfortaa', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            font-weight: 400

        &__button
            background-color: #A54586
            color: white
            font-size: 1rem
            text-transform: uppercase
            font-family: 'Open Sans'

.fixed-background
    position: fixed
    top: 0
    z-index: -1
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 100%, transparent), url('../images/city.jpg') no-repeat center 
    width: 100vw
    height: 100vh
    background-size: cover

// .to-top
//     position: fixed
//     right: 2rem
//     bottom: 2rem


.pre-header
    position: absolute
    width: 100%
    height: 2rem
    background-color: #e4e4e4
    top: 0
    left: 0
    box-shadow: 0 0 2px
    z-index: 11

    &__info
        text-align: right

        a
            margin-right: 2rem



@media (min-width: 1050px)
    .content
        width: 60%

        &__headline
            font-size: 4rem

@media (max-width: 1050px)
    .content
        width: 90%
        padding: 0

        &__headline
            font-size: 3rem

@media (max-width: 390px)
    .content__headline
        font-size: 2.3rem
    
@media (max-width: 1050px) 
    .navbar
        &--desktop
            display: none
        &--mobile
            display: block
            position: absolute
            background: #ffffff
            top: 0
            left: 0
            width: 100vw
            height: auto
            background-color: #ffffff
            transition-duration: 1s 
            padding-left: 0
            margin: 0
            transform: translateY(-100vh)
            z-index: 9
            &-close

            .navbar__point
                display: block
                width: 100%
                height: auto
                border-bottom: 1px solid #79CED4
                padding: 2em 0
                text-align: left

        &__link
            color: white

    .burger
        display: block

.popup
    width: 100%
    height: 100%
    position: fixed
    background-color: rgba(113,113,113, 0.7)
    z-index: 100
    display: none
    top: 0
    left: 0
    opacity: 0
    transition: all 0.4s ease-in-out

    &-card
        height: auto
        position: relative
        margin: 15vh auto
        background-color: #ffffff
        border-radius: 10px
        text-align: center
        padding-bottom: 1.5rem
        transition: all 0.5s ease-in-out
    &-succes
        padding: 1rem 1rem
        margin: 30vh auto
        display: none
        &__headline
            margin-bottom: 0.5rem
            font-size: 1.6rem
        &__text
            border-bottom: 1px solid #AD4582
            font-size: 1.2rem
            width: 60%
            margin: 0 20%

.card__headline
    font-size: 2.5rem
    padding: 1rem
    color: #000000

.card__text
    font-size: 1.5rem
    color: #000000

.form
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

    &__input
        margin-top: 2vh
        width: 70%
        padding: 1em 0.5em
        border: transparent
        border-bottom: 1px solid #AD4582
        font-size: 1rem
        &:first-child
            margin-top: 0

    &__button
        background-color: #86E3EA
        border-radius: 10px
        font-family: 'Arimo', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        font-size: 1rem
        height: 3rem
        width: 15rem
        margin-top: 1rem
        padding: 0
        &:hover
            background-color: #6FBCC1

    &__checkbox
        margin-top: 2em
        color: #000000
        display: inline-block

.button__close
    background-color: rgba(0, 0, 0, 0.1)
    position: absolute
    font-family: 'Arimo', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    height: 35px
    width: 35px
    display: flex
    justify-content: center
    align-items: center
    border-top-right-radius: 10px
    border-bottom-left-radius: 10px
    top: 0
    right: 0


    &:hover 
        background-color: rgba(0, 0, 0, 0.3)
    &--line
        display: block
        position: absolute
        // width: 70%
        width: 30px
        height: 1px
        background-color: #000000
        transform: rotate(45deg)
        &:last-child
            transform: rotate(-45deg)
@media (min-width: 1040px)
    .popup-card
        width: 30%

@media (max-width: 1040px)
    .popup-card
        width: 80%

@media (max-width: 320px)
    .popup-card
        margin: 5vh 10%
    .popup-succes
        margin: 30vh auto

.loaderArea
    background: linear-gradient(to bottom, #ffe7e8 10%, #fff9da 90%)
    position: fixed
    left: 0
    top: 0
    right: 0
    bottom: 0
    z-index: 100000
    transition: all 0.5s ease-in-out
    
.load
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    height: 100px
    width: 100px

.load hr
    border: 0
    margin: 0
    width: 40%
    height: 40%
    position: absolute
    border-radius: 50%
    animation: spin 2s ease infinite

.load :first-child
    background: #19A68C
    animation-delay: -1.5s

.load :nth-child(2)
    background: #F63D3A
    animation-delay: -1s

.load :nth-child(3)
    background: #FDA543
    animation-delay: -0.5s

.load :last-child
    background: #193B48

@keyframes spin
  0%,100%
      transform: translate(0)
  25%
      transform: translate(160%)
  50%
      transform: translate(160%, 160%)
  75%
      transform: translate(0, 160%)



            